{% extends 'base.html' %}
{% load staticfiles %}
{% load queue    %}
{% block head %}
    <link rel="stylesheet" href="{% static "printerqueue/css/style.css" %}">
{% endblock head %}
{% block content %}
    <div class="content row ">
    <div class="col s6 m5">
    <div class="card-panel white">
        <form action="{% url 'printerqueue:add' queue_id=qid %}" method="post" class="" style="max-width: 1024px;margin: auto;" id="queue-reserve">
            {% csrf_token %}
            
            {% if include_description %}
                <div class="row">
                <div class="input-field col s11">
                    {{ form.description }}
                    <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                </div>
                </div>
            {% endif %}

            {% if include_file %}
                <div class="row">
                <div class="input-field col s11 file-field">
                    <div class="btn">
                        <span>{{ form.file.label }}</span>
                        <input type="file" name="{{ form.file.html_name }}" id="{{ form.file.id_for_label }}">
                    </div>
                    <div class="file-path-wrapper">
                        <input type="text" class="file-path validate">
                    </div>
                </div>
                </div>
            {% endif %}

            <div class="input-field">
                <input type="text" name="{{ form.date.html_name }}" id="{{ form.date.id_for_label }}" class="datepicker" required>
                <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
            </div>

            <div class="row">
                <p class="col">Fra :</p>
                <div class="input-field queue-time-select col s1">
                    <select name="{{ form.start_h.html_name }}" id="{{ form.start_h.id_for_label }}">
                        <option value="" selected disabled>--</option>
                    </select>
                </div>

                <p class="queue-time-separator col"><b>&colon;</b></p>

                <div class="input-field queue-time-select col s1">
                    <select name="{{ form.start_m.html_name }}" id="{{ form.start_m.id_for_label }}" >
                        <option value="" selected disabled>--</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <p class="col">Til :</p>
                <div class="input-field queue-time-select col s1">
                    <select name="{{ form.end_h.html_name }}" id="{{ form.end_h.id_for_label }}">
                        <option value="">--</option>
                    </select>
                </div>

                <p class="queue-time-separator col"><b>&colon;</b></p>

                <div class="input-field queue-time-select col s1">
                    <select name="{{ form.end_m.html_name }}" id="{{ form.end_m.id_for_label }}">
                        <option value="">--</option>
                    </select>
                </div>
            </div>

            <button class="btn waves-effect waves-light queue-btn" type="submit" id="submit_btn">Submit</button>
        </form>
    </div>
    </div>

    {% queue_list can_reserve qid intervals%}

    </div>


    <script>
        var date = document.getElementById("{{ form.date.id_for_label }}");
        var start_hr = document.getElementById("{{ form.start_h.id_for_label }}");
        var start_mn = document.getElementById("{{ form.start_m.id_for_label }}");
        var end_hr = document.getElementById("{{ form.end_h.id_for_label }}");
        var end_mn = document.getElementById("{{ form.end_m.id_for_label }}");

        var start_options;
        var end_options;

        $(document).ready(function () {
            $('select').material_select();
        });

        $('.datepicker').pickadate({
            selectMonths: true,
            selectYears: 2,
            today: 'Idag',
            clear: 'Tilbakestill',
            close: 'OK',
            format: 'yyyy-mm-dd',
            closeOnSelect: true,
            onClose: function () {
                $(date).change();
            },
            onSet: function () {
                //$(date).change();
            }
        });


        $(date).change(function (e) {
            if(date.value){
                var xhr = new XMLHttpRequest();
                var v = date.value;
                xhr.open("GET","{% url 'printerqueue:get_times' queue_id=qid date="" %}" + v);

                xhr.onreadystatechange = function () {
                    if(xhr.readyState === 4) {
                        if (xhr.status === 200 || xhr.status === 0) {
                            var json = JSON.parse(xhr.responseText);
                            console.log(json);

                            start_hr.innerHTML = "<option val=\"\">--</option>";
                            start_mn.innerHTML = "<option val=\"\">--</option>";
                            end_hr.innerHTML = "<option val=\"\">--</option>";
                            end_mn.innerHTML = "<option val=\"\">--</option>";


                            json.hours.forEach(function (e) {
                                var node = document.createElement("option");
                                var hr = e.substr(1);
                                node.innerHTML = hr;
                                node.value = hr;
                                start_hr.appendChild(node);
                            });

                            $('select').material_select();

                            $(start_hr).change(function () {
                                var val = "h" + start_hr.value;

                                var minutes = eval("json.minutes." + val);

                                start_mn.innerHTML = "<option val=\"\">--</option>";
                                start_mn.innerHTML = "<option val=\"\">--</option>";
                                end_hr.innerHTML = "<option val=\"\">--</option>";
                                end_mn.innerHTML = "<option val=\"\">--</option>";

                                minutes.forEach(function(e){
                                    var node = document.createElement("option");
                                    var minute = e.substr(1);
                                    node.innerHTML = minute;
                                    node.value = minute;
                                    start_mn.appendChild(node);
                                });

                                $('select').material_select();

                            });
                        }
                    }
                };

                console.log("Sending request for start times");
                xhr.send();
            } else {
                start_hr.innerHTML = "<option val=\"\">--</option>";
                start_mn.innerHTML = "<option val=\"\">--</option>";
                end_hr.innerHTML = "<option val=\"\">--</option>";
                end_mn.innerHTML = "<option val=\"\">--</option>";
            }
        });

        $(start_mn).change(function () {
        $(end_hr).off("change");

        var request = new XMLHttpRequest();
        var start_time_str = start_hr.value + "-" + start_mn.value;
        var date_str = date.value;
        var json_end = null;

        request.open("GET", "{% url 'printerqueue:get_end_times' queue_id=qid date="" time="" %}".slice(0, -1) + date_str + "/" + start_time_str);
        request.onreadystatechange=function () {
            if (request.readyState===4){
                if(request.status===200||request.status===0){
                    json_end = JSON.parse(request.responseText);

                    end_hr.innerHTML = "<option val=\"\">--</option>";
                    end_mn.innerHTML = "<option val=\"\">--</option>";

                    json_end.hours.forEach(function (h) {
                        var hour = h.substr(1);
                        var node = document.createElement("option");

                        node.innerHTML = hour;
                        node.value = hour;
                        end_hr.appendChild(node);

                    });

                    $('select').material_select();

                    $(end_hr).on("change",function () {
                        var val = "h"+end_hr.value;
                        var min = eval("json_end.minutes." + val);

                        end_mn.innerHTML = "<option val=\"\">--</option>";

                        min.forEach(function(m){
                            var minute = m.substr(1);
                            var node = document.createElement("option");
                            node.innerHTML = minute;
                            node.value = minute;
                            end_mn.appendChild(node);
                        });

                        $('select').material_select();
                    });

                }
            }
        };
        console.log("Sending request for end times");
        request.send();
    });

        $("#submit_btn").submit(function (e) {
            e.preventDefault();

            var dt = date.value!=null&&date.value!="";
            var sh = start_hr.value!=null&&start_hr.value!=""&&start_hr.value!="--";
            var sm = start_mn.value!=null&&start_mn.value!=""&&start_mn.value!="--";
            var eh = end_hr.value!=null&&end_hr.value!=""&&end_hr.value!="--";
            var em = end_mn!=null&&end_mn.value!=""&&end_hr.value!="--";

            if(dt&&sh&&sm&&eh&&em){
                $("#queue-reserve").submit();
            }

        })

    </script>
{% endblock content %}
