{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/card.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/infoskjerm.css" %}">
    <meta charset="UTF-8">
    <title>Infoscreen</title>
{% endblock head %}

{% block content %}


<div id="spotlight">
    <div class="card-container">
      <div class="col s12 m6 l4">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <a class="img-a" href="/news/event/{{ news.id }}/">
              <img class="spotlight" src="http://www.arduino.org/media/k2/galleries/90/A000066-Arduino-Uno-TH-2tri.jpg">
            </a>
          </div>
          <div class="card-content">
            <div class="top">
              <div class=center>
                <div class="card-title tingnavn">
                  Tittel
                  <a href="{{ news.place_href }}" target="_blank">{{ news.place }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="misc"></div>
<div id="arrangementer"></div>
<div id="raspberryliste"></div>
<div id="info"></div>

    <h3>Vaktliste</h3>
<div id="vakt">
    {% if vakter|length == 2 %}
    <div class="card-container">
        <div class="col s12 m6 l4">
            <div class="card medium">
                <div class="card-image waves-effect waves-block waves-light">
                    <a class="img-a">
                        <img class="vaktbilde" src=/media/{{ vakter.0.image }}>
                    </a>
                </div>
                <div class="card-content">
                    <div class="top">
                        <div class=center>
                            <div class="card-title vaktnavn">
                                {{ vakter.0 }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="col s12 m6 l4">
            <div class="card medium">
                <div class="card-image waves-effect waves-block waves-light">
                    <a class="img-a">
                        <img class="vaktbilde"
                             src="https://lh5.googleusercontent.com/htVa4e_b_I67obwTrjOusAJD2SXA0JD38PGX3AkK7oPdTTWX9d1fGBMV1B4b5B35KZG-5d6WHhIfP4c=w1596-h764">
                    </a>
                </div>
                <div class="card-content">
                    <div class="top">
                        <div class=center>
                            <div class="card-title vaktnavn">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="col s12 m6 l4">
            <div class="card medium">
                <div class="card-image waves-effect waves-block waves-light">
                    <a class="img-a">
                        <img class="vaktbilde" src=/media/{{ vakter.1.image }}>
                    </a>
                </div>
                <div class="card-content">
                    <div class="top">
                        <div class=center>
                            <div class="card-title vaktnavn">
                                {{ vakter.1 }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    {% for vakt in vakter %}
    <div class="card-container">
      <div class="col s12 m6 l4">
          <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
              <a class="img-a">
                  <img class="vaktbilde" src=/media/{{ vakt.image }}>
            </a>
          </div>
          <div class="card-content">
            <div class="top">
              <div class=center>
                <div class="card-title vaktnavn">
                    {{ vakt }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}

