{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static " css/card.css" %}">
<link rel="stylesheet" type="text/css" href="{% static " css/infoskjerm.css" %}">
<meta charset="UTF-8">
<title>Infoscreen</title>
{% endblock head %}

{% block content %}
<div id="uber-flex">
    <div id="left-flex">
        <div id="spotlight">
            <div class="card-container">
                <div class="col s12 m6 l4">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a class="img-a" href="/news/event/{{ news.id }}/">
                                <img class="spotlight"
                                     src="http://www.arduino.org/media/k2/galleries/90/A000066-Arduino-Uno-TH-2tri.jpg">
                            </a>
                        </div>
                        <div class="card-content">
                            <div class="top">
                                <div class=center>
                                    <div class="card-title tingnavn">
                                        Tittel
                                        <a href="{{ news.place_href }}" target="_blank">{{ news.place }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="misc">
            <h1 style="text-align:center">MISC</h1>
        </div>
    </div>
    <div id="right-flex">
        <div id="info">
            <div class="card-container">
                <div class="col s12 m6 l4">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a class="img-a" href="/news/event/{{ news.id }}/">
                                <img class="spotlight"
                                     src="http://www.arduino.org/media/k2/galleries/90/A000066-Arduino-Uno-TH-2tri.jpg">
                            </a>
                        </div>
                        <div class="card-content">
                            <div class="top">
                                <div class=center>
                                    <div class="card-title tingnavn">
                                        Dette er info
                                    </div>
                                    <div class="event-ingress">
                                        (Not really)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="arrangementer">
            <div class="card-container">
                <div class="col s12 m6 l4">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a class="img-a" href="/news/event/{{ news.id }}/">
                                <img class="spotlight"
                                     src="http://www.arduino.org/media/k2/galleries/90/A000066-Arduino-Uno-TH-2tri.jpg">
                            </a>
                        </div>
                        <div class="card-content">
                            <div class="top">
                                <div class=center>
                                    <div class="card-title tingnavn">
                                        Dette er et arrangement
                                    </div>
                                    <div class="event-ingress">
                                        (Jeg lover)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="raspberryliste">
            <table>
                <thead>
                <td>Name</td>
                <td>IP</td>
                </thead>
                <tr>
                    <td>Pi #1</td>
                    <td>127.0.0.1</td>
                </tr>
                <tr>
                    <td>Pi #2</td>
                    <td>Your mom's house</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<h3>Vaktliste</h3>
<div id="vakt">
    {% if vakter|length == 2 %}
    <div class="card-container">
        <div class="col s12 m6 l4">
            <div class="card medium">
                <div class="vaktbilde card-image waves-effect waves-block waves-light">
                    <a class="img-a">
                        <img src=/media/{{ vakter.0.image }}>
                    </a>
                </div>
                <div class="card-content">
                    <div class="top">
                        <div class=center>
                            <div class="card-title vaktnavn">
                                {{ vakter.0 }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="col s12 m6 l4">
            <div class="card medium">
                <div class="vaktbilde card-image waves-effect waves-block waves-light">
                    <a class="img-a">
                        <img src={% static "img/Logo.png" %}>
                    </a>
                </div>
                <div class="card-content">
                    <div class="top">
                        <div class=center>
                            <div class="card-title vaktnavn">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="col s12 m6 l4">
            <div class="card medium">
                <div class="vaktbilde card-image waves-effect waves-block waves-light">
                    <a class="img-a">
                        <img src=/media/{{ vakter.1.image }}>
                    </a>
                </div>
                <div class="card-content">
                    <div class="top">
                        <div class=center>
                            <div class="card-title vaktnavn">
                                {{ vakter.1 }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    {% for vakt in vakter %}
    <div class="card-container">
        <div class="col s12 m6 l4">
            <div class="card medium">
                <div class="vaktbilde card-image waves-effect waves-block waves-light">
                    <a class="img-a">
                        <img src=/media/{{ vakt.image }}>
                    </a>
                </div>
                <div class="card-content">
                    <div class="top">
                        <div class=center>
                            <div class="card-title vaktnavn">
                                {{ vakt }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}

