.queue-time-separator{
    display: inline-block;
    font-size: larger;
}

div.queue-time-select{
    display: inline-block;
}

button.queue-btn{
    display: block;
    margin-top: 40px;
}

.input-field .datepicker{
    width: 140px;
}

.row p{
    display: inline-block;
}

select{
    display: none;
}

.content>div{
    margin: auto !important;
    position: static;
}
