.queue-time-separator{
    display: inline-block;
    font-size: larger;
}

div.queue-time-select{
    display: inline-block;
}

button.queue-btn{
    display: block;
    margin-top: 40px;
}

.input-field .datepicker{
    width: 140px;
}

.row p{
    display: inline-block;
}

select{
    display: none;
}

.content>div{
    margin: auto !important;
    position: static;
}

.queue-listing-item{
    background: #fff;
    margin: 0;
    width: 270px;
}

.queue-listing-item p{
    margin: 0 5px;
}

.queue-listing-item:hover{
    background: #ebebeb;
}

.queue-listing ul{
    width: fit-content;
    border: 1px solid #999;
}

.queue-listing{
    margin: auto;
}
