    #vakt{
            display: flex;
            justify-content: center;
        }
    .vaktnavn{
        text-align: center;
    }
    .card-container{
        width: 20%;
        margin: 20px;
    }
    h3{
        text-align: center;
    }
    .spotlight{
        display: flex;
        justify-content: ;
    }
    .card-image{
       height:80%;
       max-height:80%!important;
    }
