    #vakt,#uber-flex{
            display: flex;
            justify-content: space-between;
            width:80%;
            margin:auto;
        }
    .vaktnavn{
        text-align: center;
    }
    #vakt .card-container{
        width: 20%;
        margin: 20px;
    }
    h3{
        text-align: center;
    }
    .vaktbilde{
       height:80%;
       max-height:80%!important;
    }
    #left-flex, #right-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #left-flex{
        flex-grow:3;
        margin-right:20px;
    }
    #right-flex{
        flex-grow:1;
    }
    #info, #arrangementer, #raspberryliste,#misc,#spotlight{
        margin: 10px;
        width:100%;
        min-height:100px;
        display: inline-block;
        flex-grow: 1;
        background:white;
    }
    .card.adjust{
        display:inline-block;
    }
    #left-flex .card, #right-flex .card{
        margin:0;
    }
